div {
    background-color: hsla(88, 68%, 49%, 0.973);   
    color: hsl(0, 0%, 0%); 
    display: block;
    width: 200px;
    height: 100px;
    overflow: auto;
    padding: 10px;
    border: solid 2px aquamarine;
    box-sizing: border-box;
}

#a{
    background-color: rgb(192, 73, 73);
}

#b{
    background-color: rgb(73, 151, 138);
    padding: 20px 10px 5px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
}

#c{
    background-color: blue;
}